body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes slide-down {
  from {
   top:0;
    visibility: visible;
  }
  to {
    top:95%;
    visibility: visible;
  }
}

/* Apply the animation to the image element */
img.slide-down {
  animation: slide-down 2s ease-in;
}